<div *ngIf="(rover$ | async)?.rover as rover">
  <div>
    <h1>{{title}}</h1>
    <p>Lanched: {{rover.launch_date}} | Landed: {{rover.landing_date}} | Max Sol: {{rover.max_sol}}</p>
  </div>
  <div class="main">
    <div class="header">
      <div class="filter">
        <div class="label">Cameras</div>
        <app-camera-select class="control" [cameras]="selectedCameras" (cameraSelectionChange)="changeCameras($event)">
        </app-camera-select>
      </div>
      <div class="filter">
        <div class="label">Sol</div>
        <div class="control">
          <input type="text" [(ngModel)]="sol" (change)="changeSol()" autofocus />
        </div>
      </div>
    </div>
    <div class="body">
      <app-camera-list [photos]="(photos$ | async)" [cameras]="selectedCameras"></app-camera-list>
    </div>
  </div>
</div>
<div class="alert-error" *ngIf="(errorMessage$ | async) as errorMessage">
  <div>{{errorMessage}}</div>
</div>
